server {
        listen              80;

        root                /opt/mongochem/client/dist;
        index               index.html;

        server_name         {{ groups['mongochem'][0] }};

        location / {
                # First attempt to serve request as file, then
                # as directory, then fall back to displaying a 404.
                try_files           $uri $uri/ =404;
        }

        # Pass stuff through to Girder
        location /api/v1 {
                proxy_redirect      off;
                proxy_set_header    Host $host;
                proxy_set_header    X-Forwarded-Proto $scheme;
                proxy_set_header    X-Real-IP $remote_addr;
                proxy_set_header    X-Forwarded-Host $host;
                proxy_set_header    X-Forwarded-Server $host;
                proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_pass          http://localhost:8080/api/v1;
        }
        location /api/static {
                proxy_pass          http://localhost:8080/static;
        }
}
