!  Normalprint
%output
Print[ P_Basis ] 2
Print[ P_MOs ] 1
end

!{{theory}} {{basis}} {{task}}

%coords
CTyp xyz
Charge {{charge}}
Mult {{multiplicity}}
coords
  {{xyz_structure}}
end
end

%scf
  maxiter 2000
end
